#notice{
	padding:10px;
	margin:10px 0;
	border:1px solid black;
	background-color:lightgreen;
}

.projects{
	margin:20px 0;
	padding:0;
}

.project{
	margin:0;
	padding: 10px;
	list-style-type:none;
	border:1px solid black;
}

.project:nth-child(odd){
	background-color:#EEEEEE;
}

.project:nth-child(even){
	border-top:0;
	background-color:#CCCCCC;
}

.project ul{
	margin:20px;
	padding:10px;
}

.comment{
	padding: 5px;
	border:1px solid black;
	background-color:lightgreen;
}

/* =============================================================================
  FORMULAIRE
============================================================================= */

fieldset{
	margin:20px 0;
}

.error{
	color:red;
}

form.action{
	display:inline;
}

form.action input{
	border:1px solid black;
}

.field{
	margin:10px;
}

label{
	display:inline-block;
	width:150px;
	text-align:right;
}

label[for=valider]{
	visibility:hidden;
}

textarea{
	vertical-align:top;
	width:300px;
	height:80px;
}

form ul.list{
	margin:0;
	padding:0;
	list-style-type:none;
}
